#selected-options-list {
    list-style: none;
}

#category-select {
    display: inline;
}

.category {
    display: inline-flex;
    border: 1px solid black;
    padding: 6px 6px 3px 6px;
}

.category-name {
    margin-right: 4px;
}

.category-checkbox {
    -webkit-appearance: initial;
    appearance: initial;
    margin-left: 4px;
    padding-left: 4px;
}

.category-checkbox:checked:after {
    content: "X";
}

.item-container {
    width: 70%;
    margin: auto;
}

.item-container > .item-details {
    display: flex;
}

.item-pagination {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
}

.item-pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.item-pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.item-pagination a:hover:not(.active) {background-color: #ddd;}