#selected-options-list {
    list-style: none;
}

#category-select {
    display: inline;
}

.category {
    display: inline-flex;
    border: 1px solid black;
    padding: 6px 6px 3px 6px;
}

.category-name {
    margin-right: 4px;
}

.category-checkbox {
    -webkit-appearance: initial;
    appearance: initial;
    margin-left: 4px;
    padding-left: 4px;
}

.category-checkbox:checked:after {
    content: "X";
}