#slideshow-container {
  width: 480px;
  height: 300px;
  position: relative;
  margin: auto;
}

#slideshow-container .hidden {
  visibility: hidden;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  z-index: 2;
}

.prev {
  top: 50%;
  left: 0;
}

.next {
  top: 50%;
  right: 0;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.item-image {
  display: block;
  position: relative;
  margin: auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#dots-container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#navigation-arrows {
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.slide-fade {
  -webkit-animation-name: slide-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slide-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide-fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes slide-fade {
  from {opacity: .4}
  to {opacity: 1}
}