#info-section {
    display: flex;
}

#info-section > div {
    margin: 5px;
}

#item-actions {
    display: flex;
}

#about-item {
    flex: 4;
}

#purchase-options, #item-edit-options {
    flex: 1;
    position: relative;
}

#buy-button {
    margin-bottom: 30px;
}

.item-name {
    margin-top: 4px;
}

#new-item-form {
    position: absolute;
    left: 30%;
    margin: 0 auto;
}

#submit-button {
    width: 100px;
}

#purchase-form {
    position: absolute;
    top: 10px;
}

#cart-form, #visit-button {
    position: absolute;
    top: 120px;
}

#cart-button {
    position: absolute;
    width: 100px;
    left: 0;
}

#purchase-button {
    position: absolute;
    width: 100px;
    left: 0;
}

.quantity-fields {
    top: 43px;
    position: absolute;
    width: 60px;
    display: block;
}
